footer {
    text-align: center;
    align-self: flex-end;
    flex: 0 0 auto;
    width: 100%;
    margin-top: auto;
    display: block;
    color: #fff;
    height: 200px;
    position:absolute;
    bottom: 0px;
    background: #d1d8e0;    
    text-align: center;  
    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
}



